<section>
  <div class="container">
    <div class="position-about-us">
      <h2 class="about-title">About<span class="us-title">Us</span></h2>
      <img
        class="about-us-photo"
        srcset="./img/about/camera-about_mob-min.png 1x ./img/about/camera-about_mob@2x-min.png 2x"
        src="../img/about/camera-about_mob-min.png"
        alt="camera-about"
      />
      <div>
        <ul class="about-us-item">
          <li class="about-us-list">
            <p class="about-us-text">
              Our photography school is designed to teach you everything you
              need to know about this magical art. Regardless of your experience
              or skill level, we offer a wide range of courses to suit your
              needs and interests. Our teaching team consists of experienced
              photographers who have many years of experience in this field.
              They strive not only to share their knowledge, but also to inspire
              you to develop and express your unique creativity.
            </p>
          </li>
          <li class="about-us">
            <p class="about-us-text">
              Our courses cover a wide range of topics, from the basics of
              photography and equipment use to professional image processing and
              creating impressive compositions. You will have the opportunity to
              learn the technical aspects of photography, discover your own
              style and develop your own visual language.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
