<section class="ticker">
  <div class="ticker-inner">
    <h2 class="ticker-title">
      <span class="ticker-title-span">master</span> your photography
      <span class="ticker-title-span"> skills with us!</span>
    </h2>
    <h2 class="ticker-title">
      <span class="ticker-title-span">master</span> your photography
      <span class="ticker-title-span"> skills with us!</span>
    </h2>
    <h2 class="ticker-title">
      <span class="ticker-title-span">master</span> your photography
      <span class="ticker-title-span"> skills with us!</span>
    </h2>
  </div>
</section>
