<section>
  <div class="container header-inner">
    <div class="header-menu">
      <nav class="nav-list">
        <a class="logo-header" href="">
          <svg class="logo-icon" width="123" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="header-list">
          <li><a class="nav-item" href="#about">About us</a></li>
          <li><a class="nav-item" href="#courses">Our courses</a></li>
          <li><a class="nav-item" href="#mentors">Our mentors</a></li>
          <li><a class="nav-item" href="#reviews">Reviews</a></li>
          <li><a class="nav-item" href="#contacts">Contacts</a></li>
        </ul>

        <div class="btn-header">
          <a class="camera-link" href="#sing_up">
            <svg class="icon-camera" width="16" height="16">
              <use href="./img/icons.svg#icon-camera"></use>
            </svg>
          </a>
          <button class="menu-btn">
            <svg class="btn-icon" width="32" height="22">
              <use href="./img/icons.svg#icon-nav"></use>
            </svg>
          </button>
        </div>
      </nav>
      <a class="sign-up" href="">Sign up </a>
    </div>

    <dialog class="modal modal-container">
      <button class="modal-button-close">
        <svg class="modal-button-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <nav>
        <ul class="modal-nav-list">
          <li class="modal-nav-item">
            <a href="" class="modal-nav-link">about us</a>
          </li>
          <li class="modal-nav-item">
            <a href="" class="modal-nav-link">our courses</a>
          </li>
          <li class="modal-nav-item">
            <a href="" class="modal-nav-link">our mentors</a>
          </li>
          <li class="modal-nav-item">
            <a href="" class="modal-nav-link">reviews</a>
          </li>
          <li class="modal-nav-item">
            <a href="" class="modal-nav-link">contacts</a>
          </li>
        </ul>
      </nav>
    </dialog>
  </div>
</section>
