<div class="bloc-header container">
  <nav class="nav-header">
    <a href="" class="a-svg">
      <svg class="svg-header">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="navigation-header">
      <li><a href="" class="item-header">About us</a></li>
      <li><a href="" class="item-header">Our courses</a></li>
      <li><a href="" class="item-header">Our mentors</a></li>
      <li><a href="" class="item-header">Reviews</a></li>
      <li><a href="" class="item-header">contacts</a></li>
    </ul>
  </nav>
  <button type="button" class="btn">Sign up</button>
</div>
