<div class="bloc-header container">
  <nav class="nav-header">
    <a href="" class="a-svg">
      <svg class="svg-header">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="navigation-header">
      <li><a href="" class="item-header">About us</a></li>
      <li><a href="" class="item-header">Our courses</a></li>
      <li><a href="" class="item-header">Our mentors</a></li>
      <li><a href="" class="item-header">Reviews</a></li>
      <li><a href="" class="item-header">contacts</a></li>
    </ul>
    <div class="header-burger">
      <span class="aa">
        <svg class="svg-foto">
          <use href="../img/icons.svg#icon-nav"></use>
        </svg>
      </span>
      <button type="button" class="button menu-open-btn js-open-menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="28"
          viewBox="0 0 40 28"
          fill="none"
          class=""
        >
          <line
            x1="7.58691"
            y1="4.43939"
            x2="38.5"
            y2="4.43939"
            stroke="white"
            stroke-width="3"
            stroke-linecap="round"
          />
          <line
            x1="7.58691"
            y1="21.4091"
            x2="38.5"
            y2="21.4091"
            stroke="white"
            stroke-width="3"
            stroke-linecap="round"
          />
          <line
            x1="17.1522"
            y1="12.9243"
            x2="38.5"
            y2="12.9243"
            stroke="white"
            stroke-width="3"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>
    <div class="mob-menu js-menu-container">
      <div class="color">
        <button class="close-mob-menu js-close-menu" type="button">
          <svg width="8" height="8">
            <use href="../img/icons.svg#icon-x"></use>
          </svg>
        </button>
        <ul class="mob-menu-list">
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">About us</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Our courses</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Our mentors</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">Reviews</a>
          </li>
          <li class="mob-menu-item">
            <a class="mob-menu-link" href="">contacts</a>
          </li>
        </ul>
      </div>
      <div class="images"></div>
    </div>
  </nav>
  <button type="button" class="btn sign-up">Sign up</button>
</div>
