<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Discover the magic of
        <span class="hero-title-accent">photography</span> in our school
      </h1>
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="hero-inner">
        <div class="hero-users">
          <img
            class="hero-users-img"
            src="./img/hero/images_deck_tab-min.jpg"
            alt=""
          />
          <div class="text-wrap">
            <p class="hero-secondary-text">Our happy students</p>
            <svg class="hero-arrow-icon" width="18" height="8.66">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
        <div class="hero-reviews">
          <svg class="hero-star-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <div class="reviews-text-wrap">
            <p class="hero-reviews-text">Reviews</p>
            <p class="hero-users-number">+1500</p>
          </div>
        </div>
      </div>
      <img
        class="hero-img"
        src="./img/hero/rectangle5_tab-min.jpg"
        alt="boy with camera"
        width="259"
      />
    </div>
  </div>
</section>
