<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-desc-wrap">
        <h1 class="hero-title">
          Discover the magic of
          <span class="hero-title-accent">photography</span> in our school
        </h1>
        <p class="hero-text">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="hero-inner">
          <div class="hero-users">
            <ul class="hero-users-list">
              <li class="hero-users-one">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/girl_tab_desk-min.png    1x,
                      ./img/hero/girl_tab_desk@2x-min.png 2x
                    "
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/hero/girl_mob-min.png    1x,
                      ./img/hero/girl_mob@2x-min.png 2x
                    "
                  />
                  <img
                    src="./img/hero/girl_mob-min.png"
                    alt="girl"
                    class="hero-users-img"
                    width="44"
                    height="44"
                  />
                </picture>
              </li>
              <li class="hero-users-two">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/boy_tab_desk-min.png    1x,
                      ./img/hero/boy_tab_desk@2x-min.png 2x
                    "
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/hero/boy_mob-min.png    1x,
                      ./img/hero/boy_mob@2x-min.png 2x
                    "
                  />
                  <img
                    src="./img/hero/boy_mob-min.png"
                    alt="boy"
                    class="hero-users-img"
                    width="44"
                    height="44"
                  />
                </picture>
              </li>
              <li class="hero-users-three">
                <picture>
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/hero/girl1_tab_desk-min.png    1x,
                      ./img/hero/girl1_tab_desk@2x-min.png 2x
                    "
                  />
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ../img/hero/girl1_mob-min.png    1x,
                      ../img/hero/girl1_mob@2x-min.png 2x
                    "
                  />
                  <img
                    src="./img/hero/girl1_mob-min.png"
                    alt="girl"
                    class="hero-users-img"
                    width="44"
                    height="44"
                  />
                </picture>
              </li>
            </ul>

            <div class="text-wrap">
              <a class="hero-secondary-text" href="#">Our happy students</a>
              <svg class="hero-arrow-icon" width="18" height="8.66">
                <use href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </div>
          <div class="hero-reviews">
            <div class="icon-wrap">
              <svg class="hero-star-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </div>
            <div class="reviews-text-wrap">
              <p class="hero-reviews-text">Reviews</p>
              <p class="hero-users-number">+1500</p>
            </div>
          </div>
        </div>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/hero/hero_desk-min.png    1x,
            ./img/hero/hero_desk@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero/hero_tab-min.png    1x,
            ./img/hero/hero_tab@2x-min.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero/hero_mob-min.png    1x,
            ./img/hero/hero_mob@2x-min.png 2x
          "
        />
        <img
          class="hero-img"
          src="./img/hero/hero_mob-min.png"
          alt="boy with camera"
          width="259"
        />
      </picture>
    </div>
  </div>
</section>
