<section class="our-mentors">
  <div class="container">
    <h2 class="mentors-title">Our <span class="accent">mentors</span></h2>
    <ul class="mentors-list">
      <li>
        <img
          class="mentors-foto"
          srcset="
            ./img/mentors/girl1-min.png    1x,
            ./img/mentors/girl1@2x-min.png 2x
          "
          src="./img/mentors/girl1-min.png"
          alt="mentor-foto"
          width="180"
        />
        <h3 class="mentor-name">Emilia Smith</h3>
        <p class="mentor-text">1.5 years of experience</p>
      </li>
      <li>
        <img
          class="mentors-foto"
          srcset="
            ./img/mentors/boy1-min.png    1x,
            ./img/mentors/boy1@2x-min.png 2x
          "
          src="./img/mentors/boy1-min.png"
          alt="mentor-foto"
          width="180"
        />
        <h3 class="mentor-name">Alex Lebedev</h3>
        <p class="mentor-text">3.5 years of experience</p>
      </li>
      <li>
        <img
          class="mentors-foto"
          srcset="
            ./img/mentors/girl2-min.png    1x,
            ./img/mentors/girl2@2x-min.png 2x
          "
          src="./img/mentors/girl2-min.png"
          alt="mentor-foto"
          width="180"
        />
        <h3 class="mentor-name">Mia Dubrovska</h3>
        <p class="mentor-text">2.0 years of experience</p>
      </li>
      <li>
        <img
          class="mentors-foto"
          srcset="
            ./img/mentors/boy2-min.png    1x,
            ./img/mentors/boy2@2x-min.png 2x
          "
          src="./img/mentors/boy2-min.png"
          alt="mentor-foto"
          width="180"
        />
        <h3 class="mentor-name">Eliot Kovalev</h3>
        <p class="mentor-text">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
