<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title" id="reviews">Reviews</h2>
    <ul class="reviews-list">
      <li class="comment-container">
        <div class="without-comment">
          <img
            class="review-photo"
            srcset="
              ./img/reviews/user-boy-min.png    1x,
              ./img/reviews/user-boy@2x-min.png 2x
            "
            src="./img/reviews/user-boy-min.png"
            alt="Photo of Abraham Baker"
            width="56"
            height="56"
          />
          <div class="name-profession-note">
            <div class="name-profession">
              <h3 class="reviewer-name">Abraham Baker</h3>
              <p class="reviewer-profession">Student</p>
            </div>
            <div class="stars">
              <svg class="review-note" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
              <svg class="review-note" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
              <svg class="review-note" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
              <svg class="review-note" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
              <svg class="review-note review-note-empty" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
            </div>
          </div>
        </div>
        <p class="comment">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="comment-container visually-hidden">
        <div class="without-comment">
          <img
            class="review-photo"
            srcset="
              ./img/reviews/user-min.png    1x,
              ./img/reviews/user@2x-min.png 2x
            "
            src="./img/reviews/user-min.png"
            width="56"
            height="56"
            alt="Photo of Amanda Lowery"
          />
          <div class="name-profession-note">
            <div class="name-profession">
              <h3 class="reviewer-name">Amanda Lowery</h3>
              <p class="reviewer-profession">Student</p>
            </div>
            <div class="stars">
              <svg class="review-note" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
              <svg class="review-note" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
              <svg class="review-note" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
              <svg class="review-note" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
              <svg class="review-note review-note-empty" width="16" height="16">
                <use href="./img/icons.svg#icon-star-1"></use>
              </svg>
            </div>
          </div>
        </div>
        <p class="comment">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
