<section>
    <div class="container"> 
        <h2 class="singup-title">Sign
            <span class="singup-span">Up</span>
        </h2>
        <p class="singup-text">
            Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.
        </p>
        <form class="singup-form">
            <input 
                class="singup-input" 
                name="user-name" 
                type="text" 
                placeholder="Enter your name"
                pattern="[A-Za-z]{3,}">
            <input 
                class="singup-input"
                name="user-email" 
                type="email" 
                placeholder="Enter your email" 
                pattern="[A-Za-z]{3,}">
            <textarea
                class="singup-textarea"
                name="message" 
                placeholder="Message">
            </textarea>
            <button class="singup-button-send" type="submit">Send</button>
        </form>

        <p class="singup-subtext">By clicking on “Send” button, you agree to our 
            <a class="singup-subtext-link" href="#">Privacy Policy,</a>
            and allow Promodo to use this information for marketing purposes.
        </p>
    </div>
</section>