.about-us {
  margin-bottom: 80px;
}

.about-title {
  margin-bottom: 40px;
  text-transform: capitalize;
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.us-title {
  color: var(--c-light-brown);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.picture-about {
  height: 209px;
  width: 335px;
  margin-bottom: 40px;
}

.about-us-photo {
  height: 100%;
  width: 100%;
}

.text-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 335px;
}

.text-about-us {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 335px;
}

/* TAB */
@media screen and (min-width: 768px) {
  .about-us {
    margin-bottom: 100px;
  }
  .picture-about {
    height: 340px;
    width: 704px;
    margin-bottom: 50px;
  }

  .text-about {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
    max-width: 100%;
  }

  .text-about-us {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* DESK 1280*/
@media screen and (min-width: 1280px) {
  .about-us {
    margin-bottom: 150px;
  }

  .about-content {
    display: flex;
  }

  .picture-about {
    height: 260px;
    width: 488px;
    margin-bottom: 0;
    margin-right: 40px;
  }
  .first {
    max-width: 268px;
  }

  .second {
    max-width: 264px;
  }
}
