.courses_title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
}
.title_course-sp {
  color: var(--c-light-brown);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
}
.courses_transcript {
  max-width: 335px;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}
.dec-list-cont {
  display: flex;
  justify-content: center;
}
.courses_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.courses_item {
  color: var(--c-light-grey);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
.card-nav {
  display: flex;
  justify-content: space-between;
  margin: 28px 28px;
}
.course-numeration {
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.28;
  letter-spacing: -0.28px;
}
.courses_link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1d1d1d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.courses_link:hover,
.courses_link:focus {
  background-color: rgba(190, 166, 158, 1);
}
.link-style_courses {
  fill: rgba(119, 119, 119, 1);
}
.courses_link:hover .link-style_courses {
  fill: rgba(255, 255, 255, 1);
}
.courses_link:focus .link-style_courses {
  fill: rgba(255, 255, 255, 1);
}
.course_name {
  color: var(--c-white);
  width: 279px;
  padding-left: 28px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 168px;
}

.course_detals {
  margin-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
  .courses_cont {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 58px;
    margin-bottom: 50px;
  }
  .courses_title {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -1.92px;
  }
  .title_course-sp {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -1.92px;
  }
  .courses_transcript {
    margin: 0;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }

  .courses_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .courses_item {
    flex-basis: calc((100% - 20px) / 2);
  }
  .card-nav {
    margin: 32px 32px;
  }
  .course_name {
    max-width: 265px;
    padding-left: 32px;
    margin-bottom: 180px;
  }
  .course_detals {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
    margin-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .courses_cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .courses_transcript {
    max-width: 405px;
  }

  .courses_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .courses_item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
