.courses_title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
}
.title_course-sp {
  color: var(--c-light-brown);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
}
.courses_transcript {
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}
.dec-list-cont {
  max-width: 335px;
  display: flex;

  justify-content: center;
}
.courses_list {
  list-style-position: inside;
  list-style-type: decimal-leading-zero;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.courses_item {
  color: var(--c-light-grey);
  position: relative;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--c-bg-gradient);
}
.courses_link {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-style_courses {
  fill: rgba(119, 119, 119, 1);
}
.course_name {
  color: var(--c-white);
  width: 279px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 42px;
  margin-bottom: 168px;
}

.course_detals {
  line-height: 1.28;
  letter-spacing: -0.28px;
}
