.header-inner {
  padding-top: 20px;
}
.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 20px;
}

@media screen and (min-width: 1280px) {
  .nav-list {
    max-width: 822px;
    padding: 0 50px;
  }
}

.logo-header {
  padding: 20px 0;
}

@media screen and (min-width: 1280px) {
  .logo-header {
    margin-right: 97px;
  }
}

.logo-icon {
  fill: #fff;
}

.header-list {
  display: flex;
}

@media screen and (min-width: 1280px) {
  .header-list {
    gap: 28px;
  }
}

@media screen and (max-width: 1279.98px) {
  .header-list {
    display: none;
  }
}

.nav-item {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--c-light-brown);
}

.btn-header {
  display: flex;
  margin-left: auto;
  gap: 14px;
}

.camera-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #1d1d1d;
  margin: 9px 0;
}

.camera-link:hover .icon-camera,
.camera-link:focus .icon-camera {
  fill: var(--c-light-brown);
}

@media screen and (min-width: 768px) {
  .camera-link {
    display: none;
  }
}

.icon-camera {
  fill: #bea69e66;
}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 14px 0;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

.btn-icon {
  stroke: #fff;
}

.sign-up {
  display: block;
  min-width: 186px;
  border-radius: 12px;
  background: #fff;
  padding: 16px 58px;
  color: #121212;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.55;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up:hover,
.sign-up:focus {
  background-color: var(--c-bg-color);
  color: var(--c-light-brown);
}

@media screen and (max-width: 767.98px) {
  .sign-up {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up {
    padding: 16px 84px;
  }
}

.header-menu {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header-menu {
    margin-bottom: 80px;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 218px;
  background-color: var(--c-light-brown);
  background-image: url('./img/modal_menu/photo-menu6_mob@2x-min.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.modal::backdrop {
  background-color: rgba(18, 18, 18, 0.4);
}
.modal-container {
  margin-left: auto;
  padding: 180px 20px 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in;
}

.modal-container.is-hidden {
  transform: translateX(0);
}

.modal-button-close {
  top: 20px;
  right: 20px;
  border: none;
  position: absolute;
  background-color: transparent;
}

.modal-button-icon {
  stroke: var(--c-bg-color-body);
}

.modal-nav-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.modal-nav-link {
  color: var(--c-bg-color-body);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}

.modal-nav-item:hover .modal-nav-link,
.modal-nav-item:focus .modal-nav-link {
  font-weight: 700;
  transform: scale(1.5);
}

@media (min-resolution: 192dpi) and (max-width: 767px) {
  .modal {
    background-image: url('../img/modal_menu/photo-menu6_mob@2x-min.jpg');
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 480px;
    background-image: url('../img/modal_menu/photo-menu6_tab-min.jpg');
  }
  .modal-container {
    padding: 230px 64px 0;
  }
  .modal-button-close {
    top: 20px;
    right: 32px;
  }
  .modal-button-icon {
    width: 40px;
    height: 40px;
  }

  .modal-nav-list {
    gap: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    display: none;
  }
}
@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px) {
  .modal {
    background-image: url('../img/modal_menu/photo-menu6_tab@2x-min.jpg');
  }
}

/* BC-IMG */

.bc-img {
  background-image: url(../img/graphic_header_hero/graphic_mob.png);
}

@media only screen and (min-resolution: 192dpi) {
  .bc-image {
    background-image: url(../img/graphic_header_hero/graphic_mob@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .bc-image {
    background-image: url(../img/graphic_header_hero/graphic_tab.png);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .bc-image {
    background-image: url(../img/graphic_header_hero/graphic_tab@2x.png);
  }
}

@media only screen and (min-width: 1280px) {
  .bc-image {
    background-image: url(../img/graphic_header_hero/graphic_desk1280.png);
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .bc-image {
    background-image: url(../img/graphic_header_hero/graphic_desk1280@2x.png);
  }
}
