.our-mentors {
  margin-bottom: 80px;
}

.container {
  min-width: 320;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.mentors-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  text-align: start;
  margin-bottom: 40px;
}

.accent {
  color: #bea69e;
}

.mentors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.mentors-foto {
  margin-bottom: 16px;
}

.mentor-name {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.mentor-text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
