.reviews-section {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .reviews-section {
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .reviews-section {
    margin-bottom: 150px;
  }
}

.reviews-list {
  display: flex;
  gap: 20px;
}
.comment-container {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}
@media (min-width: 768px) {
  .comment-container {
    min-width: 530px;
  }
}
.comment {
  letter-spacing: -0.02em;
  font-family: DM Sans;
  font-style: normal;
}
@media (min-width: 768px) /*and (max-width: 1279.98px) */ {
  .comment {
    font-size: 16px;
    line-height: 1.25;
  }
}
.reviews-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  margin-bottom: 40px;
}
@media (min-width: 768px) /*and (max-width: 1279.98px) */ {
  .reviews-title {
    font-size: 48px;
    line-height: 1.12;
    margin-bottom: 50px;
    letter-spacing: -1.92px;
  }
}
.reviewer-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 6px;
}
@media (min-width: 768px) /*and (max-width: 1279.98px) */ {
  .reviewer-name {
    line-height: 1.4;
    margin-top: 0px;
  }
}
@media (max-width: 1279.98px) {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.review-photo {
  border-radius: 50%;
  max-width: 100%;
  height: 100%;
}
.reviewer-profession {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.24px;
}
@media (min-width: 768px) /*and (max-width: 1279.98px) */ {
  .reviewer-profession {
    font-size: 14px;
    line-height: 1.28px;
    letter-spacing: -0.28px;
    margin-top: 12px;
  }
}
.name-profession {
  margin-bottom: 10px;
}
.review-note {
  fill: #bea69e;
}
@media (min-width: 768px) /*and (max-width: 1279.98px) */ {
  .review-note {
    width: 20px;
    height: 20px;
  }
}
.review-note-empty {
  fill: #414141;
}
.without-comment {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) /*and (max-width: 1279.98px) */ {
  .name-profession-note {
    display: flex;
    gap: 273px;
  }
}
@media (min-width: 1280px) {
  .name-profession-note {
    display: flex;
    gap: 156px;
  }
}
